.container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        padding-bottom: 20px;

}
.cards-container {
        display: flex;
        border-radius: 6px;
        color: #333;
        overflow-x: auto;
        position: relative;
}
.cards-container::-webkit-scrollbar {
        display: none;
}



@media screen and (max-width: 650px) {
        .container {
                width: 100%
        }

        .cards-container {
                padding: .5rem;
        }
}

