.travelTypeCardContainer {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        /* flex-wrap: wrap; */
        overflow-x: scroll;
}
/* width */
.travelTypeCardContainer::-webkit-scrollbar {
        height: 7px;
}

/* Track */
.travelTypeCardContainer::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
}

/* Handle */
.travelTypeCardContainer::-webkit-scrollbar-thumb {
        background: rgb(255, 48, 2);
        border-radius: 10px;
}

/* Handle on hover */
.travelTypeCardContainer::-webkit-scrollbar-thumb:hover {
        background: #b30000;
}




.travelTypeContainer .card {
        max-width: 250px;
        margin: 0px;
        margin-bottom: 5px;
}

.travelTypeContainer .card img{
        width: 100%;
        height: 200px;
}
.travelTypeContainer .card h2{
       font-size: 1.3rem; 
}