.hotelList {
        display: flex;
        justify-content: center;
}

.listContainer {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        max-width: 1240px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
}